*{
	font-size: 18px;
	font-family: "Roboto", "Lato", Helvetica;
	margin: 0;
}

body{
	background-color: yellow;
}

nav{
	background-color: red;
	height: 60px;
	text-transform: uppercase;
	
}


.nav__items{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-left: 300px;
}
a{
	display: inline-block;
	color: #252626;
	padding: 1rem;
	font-weight: 700;
	float: right;
}

.round-button {
	width:25%;
}
.getCoords {
	width: 100%;
	/*height:0;*/
	/*padding-bottom: 100%;*/
	padding: 40% 0;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    text-transform: uppercase;
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
    margin-top: 50px;
    text-align: center;
    margin-left: 300px;
}
.getCoords:hover {
	background:#30588e;
}

.centered {
	text-align: center;
}