<div class="well">
	<h1>About</h1>
	<p>
		Spot App is an event advertising hub. We advertise events for a fee. Educational events are advertised for free, simply email us with the following details:
		<ol>
			<li>Event name</li>
			<li>Venue</li>
			<li>Image 300px * 250px</li>
			<li>Description of what event is about</li>
			<li>Venue coordinates i.e latitude and longitude</li>
			<li>Date</li>
			<li>Time</li>
		</ol>
	</p>
	<p>
		Events are added every 4 hours so keep checking for events happening near you!
	</p>
</div>