<div class="well">
	<h1>Legal</h1>
	<p>
		All intellectual property and database rights, in our Site, and in the materials published on it, including but not limited to trademarks, designs, logos, text, images, audio and video materials, look and feel and software (including code, interface and website structure) (“Materials”) are owned by us, our subsidiaries, affiliates companies and/or any of our partners (“the Owners”). The Materials are protected by intellectual property laws and treaties around the world. All such rights are reserved. You may not remove any copyright or other proprietary notices from any Materials on our Site.
	</p>
</div>